{% extends "@App/layout.html.twig" %}

{% block body %}

    {{ parent() }}
    <h2>{{ 'product.products'|trans }}</h2>
    {{ form_start(form, {'attr':{'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <table class="table table-hover table-bordered table-responsive">
        <tr>
            <td><a href="{{ path('product', {'colonne':'title', 'order':order }) }}">{{ 'product.title'|trans }}</a></td>
            <td><a href="{{ path('product', {'colonne':'price', 'order':order }) }}">{{ 'product.price'|trans }}</a></td>
        </tr>
    {% for product in products %}
        <tr>
            <td><a href="{{ path('show_product', {'id': product.id}) }}">{{ product.title }}</a></td>
            <td>{{ product.price }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}